* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 31, 31);
    background-size: cover;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(250, 250, 250);
}

button {
    padding: 5px 10px;
    font-size: 15px;
}

input {
    padding: 5px 10px;
    font-size: 15px;
}

.menu {
    list-style:none;
    border:1px solid #c0c0c0;
    float:right;
    margin-right: 20px;
}

.menu li {
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a {
    color:rgb(240, 240, 240); 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover {
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

header {   
    margin-top: 20px;    
    text-align: center;
}

#logo {
    width: 30rem;
}

.main {
    display: flex;
    margin-top: 30px;
    flex-basis: 10rem;
    align-items: flex-start;
    text-align: center;
}

.submit {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.search {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

#titleInfo {
    margin-left: 41%;
    margin-top: 50px;
}

#info {    
    margin-left: 41%;
    margin-top: 20px;
    font-size: large;
    text-shadow: 0.1em 0.1em 0.3em rgb(255, 255, 255);    
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;    
    color: rgb(0, 0, 0);
    text-shadow: 0.1em 0.1em 0.3em rgb(255, 255, 255);  
    position: fixed;
    bottom: 0;
    margin-left: 25%;
}

.container-services {
    display: flex;
    margin-top: 30px;    
    align-items: flex-start;
    text-align: center;
}

.services {
    position: relative;
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 200px;
    background-color: rgb(169, 173, 172);
    padding:5px 10px; 
    color: black;
}

.img-icon {        
    width: 100px;
    margin-left: 3rem;
}

.title {
    padding: 1rem;
    text-align: center;
}

.container-indication {
    display: flex;
    margin-top: 30px;    
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
}

.indication { 
    margin-left: 15rem;   
    text-align: center;
}

#img-indication {
    width: 20rem;
}

.container-reservation {
    display: flex;
    margin-top: 30px;    
    align-items: flex-start;
    text-align: center;
    flex-direction: row;
}

.text-reservation {   
    text-align: center;
    background-color: rgb(169, 173, 172);
    color: black;
}

.reservation {        
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;     
    padding:5px 10px;
}

#img-reservation {
    width: 20rem;
}

.input-reservation {
    margin-bottom: 5px;
}

.contact {
    display: flex;
}

.contact-children {
    margin-left: 10rem;    
}

.adress {
    margin-right: 10rem;
    margin-top: 1.5rem;
}

.message {
    position: relative;    
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.submit-message {
    margin-top: 3rem;
}